.up_button_div {
	display: fixed; 
	position: absolute;
	color: black; 
	bottom: -10px; 
	left: 10px; 
	z-index: 200;
	width: 40 !important;
	height: 40 !important;
}

.up_button_a {
	color: black; 
	z-index: 200;
	width: 40 !important;
	height: 40 !important;
}

.img_class {
	width: 40 !important;
	height: 40 !important;
	/* z-index: 200; */
}